*{
    margin: 0px;
    padding: 0px;
   
}


nav{
    text-shadow: 20px;
    background-color: coral;
    color: rgb(39, 26, 26);
    height: 100px;
    font-size: 35px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}



nav ul{
    list-style-type: none;

}


.game{
   padding: 2%;
   margin: auto;
   width: 50rem; 
   /* background-color: rgb(20, 155, 213); */
   display: flex;
   justify-content: center;
   margin-top: 50px;
   border-radius: 20px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family:  sans-serif;
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}


.box:hover{
    background-color: rgb(242, 234, 250);
}


.note{
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 25px;
    font-size: 23px;
    background-color: lightskyblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    font-family: cursive;


}


.info{
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 23px;
    background-color: lightblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;   
} 

.reset{
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    margin-left: 30px;  
    border: 1px solid black;
    padding: 10px; 
    background-color: whitesmoke;     
    border-radius: 10px;
    font-family: cursive;
}
.reset:hover{
    background-color: lightslategrey;
} 

